*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
  --ff-heading: 'Staatliches', cursive;
  --fs-heading: 4.8rem;
  --lh-heading: 6rem;
  --fs-headin2: 2.4rem;
  --lh-heading2: 3.4rem;
  --ff-texting: 'Poppins', sans-serif;
  --fs-texting: 1.4rem;
  --lh-texting: 2.4rem;
  --fs-span: 1.2rem;
  --lh-span: 2rem;
  --fs-button: 2rem;
  --lh-button: 2.6rem;
  --hdr-color: hsla(228, 15%, 38%, 1);
  --bt-color: hsla(348, 100%, 66%, 1);
  --bg-color: hsla(0, 0%, 94%, 1);
  --h2-color: hsla(228, 15%, 38%, 1);
  --p-color: hsla(258, 9%, 32%, 1);
  --sp-color: hsla(258, 14%, 77%, 1);

}

body{
  width: auto;
  margin: 0;
  height: 1084px;
  background-color: var(--bg-color);
}
.page{
  padding-bottom: 360px;
  max-width: 750px;
  margin: auto;
}
body:before{
  content: '';
  width: 100%;
  height: 436px;
  background-color: var(--hdr-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
header{
  color: #ffffff;
  margin: 140px auto 58px 0;
  font-weight: 400;
}
header h1{
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  line-height: var(--lh-heading);
  margin-bottom: 18px;
  font-weight: 400;
}
header p{
  font-family: var(--ff-texting);
  font-size: 2rem;
  line-height: 3rem;
}

form{
  background-color: #ffffff;
  min-height: 1084px;
  border-radius: 20px 20px 0px 0px;
  padding: 64px;
}
fieldset{
  border: none;
  margin-bottom: 30px;
}
.formwrapper{
  display: flex;
  flex-direction: column;

}
legend{
  font-family: var(--ff-heading);
  font-size: var(--fs-headin2);
  line-height: var(--lh-heading2);
  color: var(--hdr-color);
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
  width: 100%;
}
.info, .info1{
  font-family: var(--ff-texting);
  font-size: var(--fs-texting);
  line-height: var(--lh-texting);
  color: var(--p-color);
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

fieldset h3{
  font-family: var(--ff-heading);
  font-size: var(--fs-button);
  line-height: var(--lh-heading2);
  color: hsla(228, 15%, 38%, 1);
  text-transform: uppercase;
}
fieldset .info1, .info2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
fieldset .input-wrapper{
  display: flex;
  flex-direction: column;
  width: 50%;
}
fieldset .input-wrapper2{
  display: flex;
  flex-direction: column;
  width: 25%;
}

fieldset h3{
  margin-top: 32px;
  font-weight: 400;
}

fieldset input{
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  height: 56px;
  padding: 10px;
  font-family: var(--ff-texting);
  font-size: var(--fs-texting);
  line-height: var(--lh-texting);
  color: var(--p-color);
  margin-top: 8px;
}

.info2{
  font-family: var(--ff-texting);
  font-size: var(--fs-texting);
  line-height: var(--lh-texting);
  color: var(--p-color);
}

footer{
  background-color: var(--hdr-color);
  height: 160px;
  width: auto;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  width: 608px;
  background: #FF5374;
  border-radius: 20px;
  border: none;
  color: white;
  font-family: var(--ff-heading);
  font-size: var(--fs-button);
  line-height: var(--lh-button);
  font-weight: 400;
}

.button:hover{
  background: #fe2e58;
  border-style: outset;
}

@media (max-width: 500px){
fieldset .info1, .info2{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  fieldset .input-wrapper, .input-wrapper2{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  fieldset input{
    width: 100%;
  }
}